.vs/
.vscode/
build/
dist/
x64/
Debug/
Release/
*.aps
*.db
*.exp
*.iobj
*.ipdb
*.ilk
*.lib
*.log
*.obj
*.pch
*.pdb
*.recipe
*.suo
*.tlog
*.user
*.zip
talent_presets.txt
talent_presets_ui.ini
free_talent_unlearn_proxy.log
